/* Base Styles */
.outer-container {
  height: 100vh;
  width: 100vw;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.image {
  width: 40vw;
  height: 90vh;
  margin-top: -100px;
  margin-left: 100px;
}

.container1 {
  height: 55vh;
}

.container2 {
  height: 80vh;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 50px;
  width: 30vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.span-element {
  color: blue;
  text-decoration: underline;
  font-family: "roboto";
  font-weight: 500;
  font-size: 20px;
}

.paragraph-container {
  margin-top: -150px;
  width: 30vw;
  margin-left: 175px;
}

/* Form Stylings */
.Input-Type {
  font-size: 20px;
  font-weight: 500;
  margin-left: 25px;
  font-style: italic;
}

.inputs-container {
  margin-top: 50px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.inputs-value {
  width: 400px;
  margin-left: 25px;
  height: 35px;
  border-radius: 5px;
}

.button {
  background-color: green;
  border: none;
  height: 37px;
  color: white;
  font-size: 18px;
  width: 110px;
  margin-left: 25px;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.google-image {
  width: 55px;
}

.google-apple-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Responsive Styles */

/* Small screens (phones) */
@media (max-width: 576px) {
  .outer-container {
    flex-direction: column;
    height: auto;
    border-radius: 0;
  }

  .image {
    width: 100%;
    height: 40vh;
    margin: 0 auto;
  }

  .container1 {
    height: auto;
    padding: 10px;
  }

  .container2 {
    width: 90%;
    margin: 10px auto;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .span-element {
    font-size: 16px;
    text-align: center;
  }

  .paragraph-container {
    width: 90%;
    margin: 10px auto;
  }

  .Input-Type {
    font-size: 16px;
    margin-left: 10px;
  }

  .inputs-container {
    margin-top: 20px;
  }

  .form-container {
    align-items: center;
  }

  .inputs-value {
    width: 90%;
    margin: 10px auto;
  }

  .button {
    width: 90%;
    margin: 10px auto;
  }

  .google-image {
    width: 40px;
  }

  .google-apple-container {
    flex-direction: column;
    align-items: center;
  }
}

/* Medium screens (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  .outer-container {
    flex-direction: column;
    height: auto;
    border-radius: 0;
  }

  .image {
    width: 90%;
    height: 50vh;
    margin: 10px auto;
  }

  .container1 {
    height: auto;
    padding: 10px;
  }

  .container2 {
    width: 80%;
    margin: 20px auto;
    height: auto;
  }

  .span-element {
    font-size: 18px;
    text-align: center;
  }

  .paragraph-container {
    width: 80%;
    margin: 10px auto;
  }

  .Input-Type {
    font-size: 18px;
  }

  .inputs-value {
    width: 80%;
    margin: 10px auto;
  }

  .button {
    width: 80%;
    margin: 15px auto;
  }

  .google-image {
    width: 45px;
  }

  .google-apple-container {
    flex-direction: column;
    align-items: center;
  }
}

/* Large screens (desktops) */
@media (min-width: 769px) and (max-width: 1200px) {
  .outer-container {
    flex-direction: row;
    height: auto;
  }

  .image {
    width: 50%;
    height: 80vh;
    margin-left: 50px;
  }

  .container2 {
    width: 35%;
    margin-left: 30px;
  }

  .paragraph-container {
    width: 35%;
  }

  .inputs-value {
    width: 90%;
  }

  .button {
    width: 90%;
  }
}

/* Extra-large screens */
@media (min-width: 1201px) {
  .outer-container {
    flex-direction: row;
    height: 100vh;
  }

  .image {
    width: 40%;
    height: 90vh;
    margin-left: 100px;
  }

  .container2 {
    width: 30%;
    margin-left: 50px;
  }

  .paragraph-container {
    width: 30%;
  }
}
