/* Base Styles */
.heading {
  margin-left: 20px;
}

.logout-button {
  font-size: 18px;
  height: 30px;
  margin-top: 10px;
  height: 5.5vh;
  width: 10vw;
  margin-right: 40px;
  border-radius: 5px;
  border: none;
  background-color: lightcoral;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.shop-container {
  margin-left: 25px;
}

.btn {
  font-size: 25px;
}

/* Responsive Styles */

/* Small screens (phones) */
@media (max-width: 576px) {
  .heading {
    margin-left: 10px;
    font-size: 18px;
  }

  .logout-button {
    font-size: 14px;
    height: auto;
    width: 50%;
    margin-right: 20px;
    padding: 5px;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .shop-container {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .btn {
    font-size: 18px;
  }
}

/* Medium screens (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  .heading {
    margin-left: 15px;
    font-size: 20px;
  }

  .logout-button {
    font-size: 16px;
    height: auto;
    width: 30%;
    margin-right: 30px;
    padding: 8px;
  }

  .container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .shop-container {
    margin-left: 15px;
  }

  .btn {
    font-size: 22px;
  }
}

/* Large screens (desktops) */
@media (min-width: 769px) and (max-width: 1200px) {
  .heading {
    margin-left: 20px;
    font-size: 22px;
  }

  .logout-button {
    font-size: 17px;
    height: auto;
    width: 15%;
    margin-right: 35px;
    padding: 10px;
  }

  .shop-container {
    margin-left: 20px;
  }

  .btn {
    font-size: 24px;
  }
}

/* Extra large screens (large desktops) */
@media (min-width: 1201px) {
  .heading {
    margin-left: 20px;
  }

  .logout-button {
    font-size: 18px;
  }

  .shop-container {
    margin-left: 25px;
  }

  .btn {
    font-size: 25px;
  }
}
